/**
    This is custom css
*/

.themeColor{
    background-color: #58C4A0;
}

.calcankground{
    background-color: #C4C4C4;
}

.displayBackground{
    background-color: #F0ECEC;
}

.calcInputDisplay{
    width: 100%;
    height: 50px;
    font-size: 28px;
}

.calcInput {
    border: 0;
    width: 100%;
    direction: rtl;
    padding: 5px;
  }

.btnPanel{
    width: 500px;
}

.displayScreen{
    width: 100%;
    font-size: 14px;
}
p.resultDisplay{
    text-align: right;
}

.justText{
    text-align: justify;
    text-justify: inter-word;
    font-size: 30px;
}

/* div style with bottom left rounded corner*/
.blRoundedCorner{
    border: 1px solid #58C4A0;
    border-radius: 0 0 0 330px;
}




/* custome margins */
.cm-left-1{
    margin-left: 100px;
}

.cm-top-1{
    margin-top: 100px;
}

/* custome paddings */
.cp-all-1{
    padding: 10px;
    background-color: transparent;
    background: transparent;
}

.cp-all-2{
    padding: 5px;
}

/*custom rounded borders*/
.cm-rounded-1{
    border-radius: 5px;
}

.cm-rounded-2{
    border-radius: 3px;
}

.cm-rounded-all{
    border-radius: 3px;
}

.search-input{
    border: 0 solid red;
    outline: none;
    width: 100%;
    padding-top: 2px;
    margin-left: 16px;
    margin-right:16px;
    color:#707070;
    font-weight: 300;
    font-size: 18px;
}

.submit-button{
    border: 0 solid;
    border-radius: 5px;
    margin-right: 8px;
    background-color: white;
    color:#313131
}

.submit-button:hover{
    background-color: #313131;
    color: white;
}

::placeholder {
    color: #707070;
    font-size: 16px;
    font-weight: 500;
  }

  /* Custom form style*/
  .custom-form-control{
      border: 1px solid #adadad;
      border-radius: 5px;
      width: 100%;
      padding: 8px;
      margin-bottom: 0;
  }

  .custom-form-control:focus{
    outline: none !important;
    border: 1px solid #f0f0f0;
    padding: 8px;
    box-shadow: 0 0 10px #b8b8b8;
  }

  /*Select Options styling*/

  .select-options-styling{
    border: 1px solid #adadad;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
}  
.select-options-styling:focus{
    outline: none !important;
    border: 1px solid #f0f0f0;
    padding: 8px;
    box-shadow: 0 0 10px #b8b8b8;
  }

  #app-gradient-color{
    /* height: 100vh; */
    /* background-image: linear-gradient(160deg, red, red, yellow); */
    background-image: linear-gradient(to right, #FBFBFB,  #D1D1D1);
  }


  /*
  This is for search button
  */
  #search-button{
    border: 1px solid #adadad;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: white;
  }

  /* .search-button-2{
    font-size: 14px;
    height: 24px;
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    margin-right: 10px;
    color: #8591B0
  } */

  
  .search-button-1{
    width: 100px;
    font-size: 14px;
    text-align: center;
    height: 24px;
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-bottom: 10px;
    color: #8591B0;
  }

  .search-button-1:hover{
    border: 0 solid #adadad;
    background-color: transparent;
    width: 100px;
    font-size: 14px;
    text-align: center;
    height: 24px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  }

  .search-button-2{
    width: 100px;
    font-size: 14px;
    text-align: center;
    height: 24px;
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    color: #8591B0;
  }

  .search-button-2:hover{
    border: 0 solid #adadad;
    background-color: transparent;
    width: 100px;
    font-size: 14px;
    text-align: center;
    height: 24px;
    margin-right: 10px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  }

  /* .search-button-2:hover{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  } */

  .search-button-financial{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  }

  .search-button-math{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  }

  .search-button-other{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  }

  .search-button-actve{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    background-image: linear-gradient(to right, #3128AF, #499FB8);
    color: #ffffff
  }

  .search-button-3{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 24px;
    font-size: 18px;
    font-weight: bold;
    color: black
  }

  .search-button-5{
    border: 0 solid #adadad;
    background-color: transparent;
    border-radius: 10px;
    padding-right: 24px;
    font-size: 18px;
    font-weight: bold;
    color: black
  }

.div-link:hover{
    cursor: pointer;
}

.app-over-lay{
    position: fixed;
    top: calc(100vh - 80vh);
    left: 0;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(73,157,184,0),  rgba(51,47,175,1.0));
    z-index: 10
}

.app-over-lay-display{
    position: absolute;
    border-radius: 5px;
    background-color: white;
    width: 350px;
    height: 200px;
    z-index:20;
    overflow-y: auto;
    margin-left: -120px;
    margin-top: 15px;
}
.app-over-lay-display::-webkit-scrollbar {
  display: block;
  width: 8px;
}
/* 
.app-over-lay-display{
    background-color: white;
    width: 350px;
    height: 200px;
    z-index:20;
    display: block;
} */


.general-text-box{
    margin-top: 10px;
    width: 230px;
    height: 200px;
    overflow-x: hidden; 
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
    width: 8px;
  }
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient( #3128AF, #499FB8);
    border-radius: 10px;
  }
  
  .link-search{
    padding: 5px;
  }

  .link-search:hover{
    background-color: #e2e2e2;
    padding: 10px;
  }
